.p-fieldset {
    background: #1f2937a8;
}

.p-tabview .p-tabview-panels {
    background: #1f293794;
}

.p-button.p-button-sm {
    padding: 0.25rem 1rem;
}

.p-inputtext {
    padding: 0.35rem 0.35rem;
}

.p-button.active {
    background: #00000029;
    color: white;
}

.p-treetable-tbody {
    .readonly {
        pointer-events: none;
    }
}

.form-rows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1.8rem;

    p-floatlabel {
        width: 100%;
    }

    .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
        padding: 0.25rem 1.25rem;
    }

    .p-fieldset .p-fieldset-content {
        padding: 0;
    }
}

.form-inline-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;

    p-floatlabel {
        width: 100%;
    }
}

.field-label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    label {
        font-size: 12px;
        padding-left: 0.75rem;
        color: rgba(255, 255, 255, 0.6);
    }
}

.p-inputgroup {
    .p-button-outlined {
        height: 100%;
        border-radius: 0;
        border-left: none;
        border-color: #424b57;
    }
}
